[Desktop Entry]
Name=dissent
Exec=dissent
Icon=share/icons/hicolor/256x256/apps/dissent.svg
Terminal=true
Type=Application
StartupNotify=false
NoDisplay=true
Hidden=true 
