[Desktop Entry]
Name=dissent
Exec=dissent
Icon=share/icons/hicolor/scalable/apps/so.libdb.dissent.svg
Terminal=true
Type=Application
StartupNotify=false
NoDisplay=true
Hidden=true 
