[Desktop Entry]
Name=gtkcord4
Exec=gtkcord4
Icon=share/icons/hicolor/256x256/apps/gtkcord4.svg
Terminal=true
Type=Application
StartupNotify=false
NoDisplay=true
Hidden=true 
